<h1>Welcome to Yelping-it-up</h1>
<p>Yelping-it-up is the new up and coming Yelp. Yelping-it-up is not only sleek and clean it's also very useful to find the best restaurants around town!</p>
<p>With Yelping-it-up you are able to make a more informed choices and tell people about your experiences!</p>
<p>With this community driven site you are able to get different views on places you might have never known about!</p>
