<h1>I would love to here from you</h1>
<p>Contact me at jeremiahlukus1@gmail.com </p>
<p>For more about me and what I am doing visit my <%= link_to "site", "https://sites.google.com/site/jeremiahparrack/home" %> </p>

